<!DOCTYPE html>
<html>
<head>
    
    <title>POS WITH DEBT MONITORING AND REPORT</title>
    <link rel="stylesheet"  href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
<nav>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/report">Report</a></li>
        <li><a href="/sign-up">Create User</a></li>
        <li><a href="/debtor">Add Debtor</a></li>
        <li><a href="/log_out">Log Out</a></li>
    </ul>
</nav>
    {% block content %}

    {% endblock content %}

</body>

</html> 
